body{
    margin: 0px;
}

header.body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(/assets/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.horizonta-list{
    list-style: none;
    padding-left: 0px;
}
.horizonta-list li{
    display: inline-block;
    margin: 0rem 1rem 1rem 0rem;
    font-size:large;
}
.horizonta-list li a{
    color: white;
    text-decoration: none;
    transition: color 0.5s border-bottom 4s;
     
}
.horizonta-list li a:hover{
    color:lightgray;
    text-decoration: none;
    border-bottom: 1px solid white;
     
}
.text-center{
    text-align: center;
}

#my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;
    
}