body{
    margin: 0px;
}

header.body-header{
    height: 65vh;
    opacity: 0.8;
    background-image: url(/assets/bg-img.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.horizonta-list{
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}
.horizonta-list li{
    display: inline-block;
    margin: 1em 1rem;
    font-size:large;
}
.horizonta-list li a{
    color: white;
    text-decoration: none;
    
     
}
.nav-menu li a{
    transition: color 0.5s, border-bottom 4s;

}
.nav-menu li a:hover{
    color:lightgray;
    text-decoration: none;
    border-bottom: 1px solid black;
     
}
.text-center{
    text-align: center;
}
.name-social-container{
    margin-top: 20vh;
}
.my-name{
    font-size: 3rem;
    letter-spacing: 0.1rem;
    color: white;
    font-weight: 700;
    margin-bottom: 0.5rem;

}
.social-icon li a img{
    padding:10px;
    font-size: 1rem;
    border-radius: 50%;


}
.social-icon li a img:hover{
    box-shadow: 0px 0px 6px 4px rgba(230, 196, 196, 0.3);
    
}
